name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: purescript-contrib/setup-purescript@main
        with:
          purescript: "unstable"
          purs-tidy: "latest"

      - uses: actions/setup-node@v3
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: |
          npm install -g bower
          npm install
          bower install --production

      - name: Build source
        run: npm run-script build

      - name: Run tests
        run: |
          bower install
          npx pulp test
          npx pulp test --main Test.Main1
          npx pulp test --main Test.Main2
          npx pulp test --main Test.Main3 -- <(head --bytes 1000000 /dev/zero)
          npx pulp test --main Test.Main4

      - name: Check formatting
        run: |
          purs-tidy check src test
